<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/auth/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="generarPartidos()">Generar partidos</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mensaje"><ion-col><ion-note>{{ mensaje }}</ion-note></ion-col></ion-row>
  </ion-grid>
</ion-content>
