<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/auth/torneos"></ion-back-button>
    </ion-buttons>
    <ion-title>Equipo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['nombre'].errors}"
        [ngStyle]="{'--border-color': f.submitted && f.controls['nombre'].errors ? '#f44336' : '#404040'}">
        <ion-input label="Nombre Equipo" labelPlacement="floating" name="nombre" [(ngModel)]="equipo.nombre"
            required minlength="3" [counter]="true"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && escudoEquipo == null}"
        [ngStyle]="{'--border-color': f.submitted && escudoEquipo == null ? '#f44336' : '#404040'}">
        <ion-label>Escudo</ion-label>
        <ion-input type="file" class="ion-hide" #fileEsc (change)="cargarImagen(imgEsc,'escudo',$event)" accept="image/png, image/jpeg" required></ion-input>
        <ion-thumbnail slot="end">
            <img alt="Escudo imagen" #imgEsc id="img-escudo" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" (click)="activarSubirArchivo(fileEsc)" />
        </ion-thumbnail>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['grupo'].errors}"
      [ngStyle]="{'--border-color': f.submitted && f.controls['grupo'].errors ? '#f44336' : '#404040'}" *ngIf="torneo.modalidadTorneo == 'GRUPOS'">
        <ion-select label="Grupo del equipo" placeholder="" [(ngModel)]="equipo.grupo" name="grupo" required>
          <ion-select-option value="{{ i + 1 }}" *ngFor="let item of [].constructor(torneo.cantidadGrupos); let i = index">{{i + 1}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" class="ion-margin-top">
        <ion-label class="mat-headline-6" style="margin: 0;">Delegado</ion-label>
        <ion-icon name="eye-sharp" size="large" (click)="crearDelegado = 'ver'"></ion-icon>
        <ion-icon name="person-add-sharp" size="large" class="ion-margin-horizontal" (click)="crearDelegado = 'crear'"></ion-icon>
        <ion-icon name="search-sharp" size="large" (click)="crearDelegado = 'buscar'"></ion-icon>
      </ion-item>
      <ion-item *ngIf="crearDelegado == 'buscar'">
        <ion-searchbar show-clear-button="always"></ion-searchbar>
      </ion-item>
      <ion-list *ngIf="crearDelegado == 'buscar'">
        {{ tarerPersonas() }}
        <ion-item *ngFor="let item of delegadoLista">
          <ion-label (click)="seleccionarDelegado(item)">{{item.nombre}} <br> Celular: {{item.numeroCelular}}</ion-label>
        </ion-item>
      </ion-list>
      <ion-item lines="none" [ngClass]="{'ion-hide': crearDelegado != 'ver'}">
        <ion-thumbnail slot="start">
          <img alt="identificacion imagen"  id="img-identificacion" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
        <ion-label>Nombre: {{equipo.delegado!.nombre}}</ion-label>
      </ion-item>
      <ion-item *ngIf="crearDelegado == 'ver'">
        <ion-label>Celular: {{equipo.delegado!.numeroCelular}}</ion-label>
      </ion-item>
      <ion-item *ngIf="crearDelegado == 'crear'" class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['nombre-delegado'].errors}"
        [ngStyle]="{'--border-color': f.submitted && f.controls['nombre-delegado'].errors ? '#f44336' : '#404040'}">
        <ion-input label="Nombre Delegado" labelPlacement="floating" name="nombre-delegado" [(ngModel)]="delegado!.nombre"
            required minlength="6" [counter]="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="crearDelegado == 'crear'" class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['numero-celular'].errors}"
        [ngStyle]="{'--border-color': f.submitted && f.controls['numero-celular'].errors ? '#f44336' : '#404040'}">
        <ion-input label="Numero Celular" labelPlacement="floating" name="numero-celular" type="tel" [(ngModel)]="delegado!.numeroCelular"
            required minlength="6" [counter]="true"></ion-input>
      </ion-item>
      <ion-item *ngIf="crearDelegado == 'crear'" class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && identificacionDelegado == null}"
        [ngStyle]="{'--border-color': f.submitted && identificacionDelegado == null ? '#f44336' : '#404040'}">
        <ion-label>Identificacion</ion-label>
        <ion-input type="file" class="ion-hide" #fileIden (change)="cargarImagen(imgIde, 'identificacion', $event)" accept="image/png, image/jpeg" required></ion-input>
        <ion-thumbnail slot="end">
          <img alt="Silhouette of mountains" #imgIde (click)="activarSubirArchivo(fileIden)" src="https://ionicframework.com/docs/img/demos/thumbnail.svg"/>
        </ion-thumbnail>
      </ion-item>
    </ion-list>
    <ion-button *ngIf="crearDelegado == 'crear'" expand="block" class="ion-margin-top ion-margin-horizontal" (click)="guardarDelegado()">Guardar Delegado</ion-button>
    <ion-button expand="block" class="ion-margin-top ion-margin-horizontal" type="submit">Guardar</ion-button>
  </form>

  <ion-alert
  [isOpen]="isAlertOpen"
  header="{{mensajeError}}"
  [buttons]="alertButtons"
  (didDismiss)="setOpen(false)"
  ></ion-alert>
</ion-content>