<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Partidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list class="partidos-list">
    <ion-item class="filters-panel">
      <ion-datetime-button datetime="datetime" class="MuiDialog-paperFullScreen"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" [(ngModel)]="fecha"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item class="filters-panel">
      <ion-select label="Selecionar Torneo" [(ngModel)]="torneoId">
        <ion-select-option [value]="toreno.id" *ngFor="let toreno of listaTorneo">
          {{ toreno.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="filters-panel">
      <ion-button size="default"
        (click)="listarPartidosFechaTorneo(fecha!, torneoId!)">
        Buscar
      </ion-button>
    </ion-item>
    @for (partido of listaPartidos; track partido.id) {
    <ion-card class="partido-card" (click)="verPartido(partido.id!)">
      <ion-card-header class="partido-card-top">
        <span>{{ partido.faseEncuentro }}</span>
        <ion-badge color="{{colorEstadoPartido(partido)}}">{{ partido.estadoPartido }}</ion-badge>
      </ion-card-header>
      <ion-card-content>
        <div class="teams-line">
          <div class="team team-home" [class.winner]="ganadorPartido(partido) === 'LOCAL'"><span>{{ partido.equipoLocal?.nombre }}</span><img [src]="escudoEquipo(partido.equipoLocal)" alt=""></div>
          <div class="score-preview"><strong>{{ partido.anotacionesEquipoLocal ?? '-' }}</strong><small>VS</small><strong>{{ partido.anotacionesEquipoVisitante ?? '-' }}</strong></div>
          <div class="team team-away" [class.winner]="ganadorPartido(partido) === 'VISITANTE'"><img [src]="escudoEquipo(partido.equipoVisitante)" alt=""><span>{{ partido.equipoVisitante?.nombre }}</span></div>
        </div>
        <div class="penalty-score" *ngIf="(partido.penaltisEquipoLocal ?? 0) > 0 || (partido.penaltisEquipoVisitante ?? 0) > 0">
          Penaltis: {{ partido.penaltisEquipoLocal ?? 0 }} - {{ partido.penaltisEquipoVisitante ?? 0 }}
        </div>
        <div class="partido-card-bottom">
          <span class="text-center"><ion-icon name="map" size="large"></ion-icon> {{ partido.cancha?.nombre || 'Cancha pendiente' }}</span>
          <span class="text-center"><ion-icon name="calendar" size="large"></ion-icon> {{ mostrarFecha(partido.fechaPartido!) }}</span>
        </div>
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
</ion-content>
