<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="validarBackBtn()">
      <ion-back-button text="" defaultHref="/auth/login"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Registrar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <ion-list>
      <ion-item lines="none" class="ion-text-center">
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-col size="4">
              <ion-input type="file" class="ion-hide" #file accept="image/png, image/jpeg" (change)="cargarImg($event)" required></ion-input>
              <ion-avatar style="width: 100px; height: 100px; margin: auto;" (click)="activarSubirArchivo(file)">
                <img alt="Imagen" [src]="imagenDef"/>
              </ion-avatar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <!--<ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['nombre-usuario'].errors}" title="{{extraer.erroresForm(f.controls['nombre-usuario'])}}">
        <ion-input label="Nombre Usuario" labelPlacement="floating" required name="nombre-usuario" [(ngModel)]="usuario.nombreUsuario" minlength="6"></ion-input>
      </ion-item>-->
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['nombre'].errors}" title="{{extraer.erroresForm(f.controls['nombre'])}}">
        <ion-input label="Nombre" labelPlacement="floating" required name="nombre" [(ngModel)]="usuario.nombre" minlength="6"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['celular'].errors}" title="{{extraer.erroresForm(f.controls['celular'])}}">
        <ion-input label="Celular" labelPlacement="floating" required name="celular" type="tel" [(ngModel)]="usuario.numeroCelular" minlength="6"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['correo'].errors}" title="{{extraer.erroresForm(f.controls['correo'])}}">
        <ion-input label="Correo electronico" labelPlacement="floating" required name="correo" type="email" [(ngModel)]="usuario.correoElectronico" minlength="6"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['contrasena'].errors}" title="{{extraer.erroresForm(f.controls['contrasena'])}}">
        <ion-input label="Contraseña" labelPlacement="floating" required name="contrasena" type="password" [(ngModel)]="usuario.contrasena" minlength="6"></ion-input>
      </ion-item>
      <ion-item class="ion-padding-horizontal" [ngClass]="{'error-input': f.submitted && f.controls['conf-contrasena'].errors}" title="{{extraer.erroresForm(f.controls['conf-contrasena'])}}">
        <ion-input label="Confirmar Contraseña" labelPlacement="floating" required name="conf-contrasena" type="password" [(ngModel)]="confirmarContrasena" minlength="6"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" class="w-100 ion-margin-top ion-padding-horizontal">
      {{textoBtnSubmit()}}
    </ion-button>
    @if (url == '/tabs/tab3') {
    <ion-button (click)="cerrarSesion()" class="w-100 ion-margin-top ion-padding-horizontal">
      Cerrar sesion
    </ion-button>
    }
  </form>
</ion-content>
