<ion-list class="filtros-torneos">
  <ion-item lines="none" class="filtro-busqueda">
    <ion-searchbar [(ngModel)]="filtroNombre" (ionInput)="filtrar()" placeholder="Buscar por nombre" mode="ios"></ion-searchbar>
  </ion-item>

  <ion-list>
    <ion-item class="filters-panel">
      <ion-select [(ngModel)]="filtroPais" (ionChange)="filtrar()"  label="País">
        <ion-select-option *ngFor="let pais of paises" [value]="pais">{{ pais }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="filters-panel">
      <ion-select [(ngModel)]="filtroDepartamento" (ionChange)="cambiarDepartamento()" label="Departamento">
        <ion-select-option *ngFor="let departamento of departamentos" [value]="departamento">{{ departamento }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="filters-panel">
      <ion-select [(ngModel)]="filtroCiudad" (ionChange)="filtrar()" label="Ciudad">
        <ion-select-option *ngFor="let ciudad of ciudadesPorDepartamento" [value]="ciudad">{{ ciudad }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="filters-panel">
      <ion-select [(ngModel)]="filtroEstado" (ionChange)="filtrar()" label="Estado">
        <ion-select-option *ngFor="let estado of estadosTorneo" [value]="estado">{{ estado }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="esOrganizador" class="toggle-item">
    <ion-label>Solo mis torneos</ion-label>
    <ion-toggle [(ngModel)]="mostrarSoloMios" (ionChange)="cambiarSoloMios()"></ion-toggle>
  </ion-item>
</ion-list>

<ion-list class="lista-torneos">
  <ng-container *ngFor="let torneo of listaTorneosFiltrados">
    <ion-card class="tarjeta-torneo" (click)="verTorneo(torneo.id)" mode="ios">
      <div class="tarjeta-main">
        <div class="escudo-torneo"><ion-icon name="trophy-outline"></ion-icon></div>
        <div class="tarjeta-info">
          <div class="tarjeta-heading"><h3>{{ torneo.nombre }}</h3><ion-badge [color]="colorEstado(torneo)">{{ etiquetaEstado(torneo) }}</ion-badge></div>
          <p>{{ torneo.modalidadTorneo?.replace('_', ' ') | titlecase }}</p>
          <div class="tarjeta-meta"><span><ion-icon size="large" name="location-outline"></ion-icon>{{ getCiudadNombre(torneo) || 'Ubicación pendiente' }}</span>
            <span><ion-icon size="large" name="football-outline"></ion-icon>{{ torneo.deporte?.nombre || 'Deporte' }}</span>
          </div>
        </div>
        <ion-icon class="tarjeta-arrow" name="chevron-forward-outline"></ion-icon>
      </div>
    </ion-card>
  </ng-container>

  <ion-item *ngIf="listaTorneosFiltrados.length === 0" lines="none" class="empty-state">
    <ion-label>No se encontraron torneos.</ion-label>
  </ion-item>
</ion-list>