/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.w-100 {
    width: 100%;
}
.w-75 {
    width: 75%;
}
.w-50 {
    width: 50%;
}
.w-25 {
    width: 25%;
}
.d-flex {
    display: flex;
}
.scroll-h{
    flex-wrap: nowrap;
    overflow-x: scroll!important;
    overflow-y: hidden;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-reverse{
    flex-direction: row-reverse;
}
ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}
ion-item.error-input {
    color: #f44336 !important;
    --border-color: #f44336;
    &::after {
        font-size: 13px;
        content: attr(title);
        margin-left: 15px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --ion-color-primary-contrast: #fff
    }
}
ion-card-subtitle {
  font-size: 0.85rem;
}
ion-segment-button::part(indicator-background) {
    background: #3880ff;
}
.date-time-cong {
    height: 50px;
    overflow: hidden;
    width: 100%;
    ion-datetime {
        width: 100%;
        position: absolute;
        top: -75px;
    }
}
.m-0 {
    margin: 0 !important;
}
.centrar-text-v {
    display: flex;
    align-items: center;
}
.text-bold {
    font-weight: bold !important;
}
.text-font-1-1 {
    font-size: 1.1rem !important;
}
ion-segment-view {
    height: 150px;
  }
  
  ion-segment-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-segment-content:nth-of-type(1) {
    background: lightpink;
  }
  ion-segment-content:nth-of-type(2) {
    background: lightblue;
  }
  ion-segment-content:nth-of-type(3) {
    background: lightgreen;
  }
  
.s-ion-icon {
    path {
    fill:white;}
}